.TaskApp {
  margin: 0 5%;
  padding-bottom: 5px;
  &-header {
    background-color: orange;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &-list {
    border: 2px solid orange;
    grid-column: span 2;
    @media screen and (min-width: 768px) {
      grid-column: span 1;
    }
    &-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &-task {
        cursor: pointer;
        margin-right: 20px;
      }
      &-button {
        border: 0;
        background-color: rgb(209, 26, 26);
        color: white;
        height: 30px;
        transition: background-color ease 0.5s;
        width: 50px;
        &:hover {
          background-color: rgb(163, 163, 163);
        }
      }
    }
  }
  &-Form {
    grid-column: span 2;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    @media screen and (min-width: 768px) {
      grid-column: span 1;
    }

    input {
      border: 2px solid grey;
      height: 30px;
      padding: 5px;
      width: 100%;
    }
    .btn {
      background-color: rgb(17, 17, 17);
      border: none;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      height: 26px;
      margin-bottom: 5px;
      position: absolute;
      top: 2px;
      right: 10px;
      transition: background-color ease 0.5s;
      width: 50px;

      &:hover {
        background-color: rgb(163, 163, 163);
      }
    }
  }
}
.complete {
  text-decoration: line-through;
}
